<div class="job-card">
  <div class="job-card__header">
    <span class="job-card__icon" aria-hidden="true">{{ jobSummary().icon }}</span>
    <div class="job-card__meta">
      <span class="job-card__type">{{ jobTypeKey() | translate }}</span>
    </div>
  </div>

  <h3 class="job-card__title">
    <a [routerLink]="['/careers', localizedSlug()]">{{ jobSummary().title | currentLangEntry }}</a>
  </h3>
  <p class="job-card__description">{{ jobSummary().summary | currentLangEntry }}</p>

  @if (jobSummary().expirationDate && available(jobSummary().expirationDate!)) {
    <div class="job-card__expired">
      {{ 'PAGE.CAREERS.EXPIREDATE' | translate : { date: jobSummary().expirationDate?.getFullYear() } }}
    </div>
  }

  <div class="job-card__footer">
    <span class="job-card__location">
      <span aria-hidden="true">📍</span> {{ jobSummary().location }}
    </span>
    <div class="job-card__actions">
      <a class="job-card__details-btn" [routerLink]="['/careers', localizedSlug()]">
        {{ 'PAGE.CAREERS.DETAILS_BTN' | translate }}
      </a>
      <button type="button" class="job-card__apply-btn" (click)="onApply()">
        {{ 'PAGE.CAREERS.APPLY_BTN' | translate }}
      </button>
    </div>
  </div>
</div>
